In [4]:
import os
import math
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
for f in os.listdir('input'):
    size_bytes = round(os.path.getsize('input/'+f)/ 100, 6)
    print(size_bytes)
    size_name = ["KB", "MB"]
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    s = round(size_bytes / p, 2)
    print(f.ljust(20) + str(s).ljust(7) + size_name[i])

40.0
.ipynb_checkpoints  40.0   KB
10.0
submissionFile      10.0   KB
8.0
training_variants   8.0    KB
2048.0
training_text       2.0    MB
7.0
test_variants       7.0    KB
2047.0
test_text           2.0    MB

In [14]:
train_variants_df = pd.read_csv("input/training_variants")
test_variants_df = pd.read_csv("input/test_variants")
train_text_df = pd.read_csv("input/training_text", sep="\|\|", engine="python", skiprows=1, names=["ID", "Text"])
test_text_df = pd.read_csv("input/test_text", sep="\|\|", engine="python", skiprows=1, names=["ID", "Text"])
print("Train Variant".ljust(15), train_variants_df.shape)
print("Train Text".ljust(15), train_text_df.shape)
print("Test Variant".ljust(15), test_variants_df.shape)
print("Test Text".ljust(15), test_text_df.shape)

('Train Variant  ', (49, 4))
('Train Text     ', (6, 2))
('Test Variant   ', (49, 3))
('Test Text      ', (4, 2))

In [15]:
train_variants_df.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4